<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.notesapp">

    <!-- Разрешения за достъп до Интернет (ако е нужно в бъдеще) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesApp"
        tools:targetApi="31">

        <!-- Главна дейност (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Дейност за добавяне на бележка (AddNoteActivity) -->
        <activity
            android:name=".AddNoteActivity"
            android:label="Добави бележка"
            android:exported="false">
        </activity>

        <!-- Дейност за редактиране на бележка (EditNoteActivity) -->
        <activity
            android:name=".EditNoteActivity"
            android:label="Редактирай бележка"
            android:exported="false">
        </activity>

        <!-- Дейност за преглед на детайли на бележка (NoteDetailsActivity) -->
        <activity
            android:name=".NoteDetailsActivity"
            android:label="Детайли на бележка"
            android:exported="false">
        </activity>
    </application>

</manifest>
